$min-width: 300px;
$break-point-1: 750px;
$break-point-3: 1350px;
$color-1: rgba(201, 80, 54, 1);
$color-2: rgba(231, 230, 230, 0.678);
$color-3: rgba(124, 121, 121, 0.568);
@mixin transition {
  transition: 0.4s ease-in-out;
}
body {
  margin: 0;
  background-color: $color-2;
  caret-color: transparent;
  min-width: $min-width;
  font-family: "Kodchasan", sans-serif;
  a,
  a:visited,
  a:active {
    color: black;
    text-decoration: none;
  }
  input {
    border: 1px solid black;
  }
  input:focus {
    caret-color: black !important;
  }
}
header {
  min-width: $min-width;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  @media (min-width: $break-point-1) {
    box-shadow: 1px 1px 5px grey;
  }
}
#header {
  background-color: $color-1;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  padding: 10px;
  #burger_menu {
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media (min-width: $break-point-1) {
      display: none;
    }
    div {
      width: 40px;
      margin-top: 6px;
      height: 5px;
      border-radius: 5px;
      background-color: white;
    }
  }
  #logo {
    display: flex;
    margin-left: 10px;
    #couverts {
      margin-top: 10px;
    }
    h1 {
      margin: 0 0 0 10px;
      font-size: 250%;
      color: white;
      width: 100%;
      padding-left: 10px;
      text-align: start;
    }
  }
}
#Navigation {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: $color-3;
  width: 100%;
  @media (min-width: $break-point-1) {
    flex-direction: row;
    justify-content: flex-end;
    background-color: white;
  }
  a {
    background-color: white;
    padding: 15px 25px 15px 20px;
    margin: 5px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 30%;
    @media (min-width: $break-point-1) {
      width: auto;
    }
    @media (min-width: $break-point-3) {
      margin: 5px 15px 5px 15px;
    }
  }
}
.page {
  margin-top: 80px;
  @media (min-width: $break-point-1) {
    margin-top: 140px;
  }
  .displayNav {
    display: none;
    @media (min-width: $break-point-1) {
      display: block;
    }
  }
}
#acceuil {
  display: flex;
  flex-direction: column;
  align-items: center;
  #indicResults {
    padding-right: 20px;
    position: relative;
    top: 60px;
    left: 20px;
    @media (min-width: $break-point-1) {
      top: 20px;
    }
  }
  #recherche-container {
    display: flex;
    background-color: white;
    width: 100%;
    position: fixed;
    top: 57px;
    z-index: 0;
    box-shadow: 1px 1px 5px grey;
    @media (min-width: $break-point-1) {
      box-shadow: none;
      background-color: transparent;
      width: 40%;
      left: 0;
      z-index: 1;
    }
    #recherche {
      margin: 20px 0 10px 20px;
      padding-left: 10px;
      width: 70%;
      height: 32px;
      border: 1px solid black;
      border-radius: 5px;
      background-color: $color-2;
      @media (min-width: $break-point-1) {
        width: 100%;
      }
    }
    i {
      position: relative;
      right: 25px;
      top: 30px;
      cursor: pointer;
    }
  }
  #recette_container {
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    .recette {
      background-color: white;
      border-radius: 10px;
      box-shadow: 1px 1px 5px grey;
      margin: 10px 0 30px 0;
      min-width: 250px;
      max-width: 700px;
      cursor: pointer;
      @include transition;
      &:hover {
        opacity: 0.7;
      }
      img {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        width: 100%;
      }
      .recette_text {
        padding: 10px;
        h3 {
          margin: 0;
        }
      }
    }
  }
}
#createRecette {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  input {
    width: 90%;
    margin-bottom: 10px;
    padding: 5px;
    min-width: 250px;
    max-width: 600px;
    height: 30px;
  }
  .btn_plus {
    border: 1px solid black;
    background-color: $color-1;
    width: 24px;
    border-radius: 50%;
    text-align: center;
    font-size: 180%;
    font-weight: bold;
    padding: 0 5px 0 5px;
    cursor: pointer;
  }
}
