$min-width: 300px;
$break-point-1: 750px;
$break-point-3: 1350px;
$color-1: rgba(201, 80, 54, 1);
$color-2: rgb(238, 238, 238);
$color-3: rgba(124, 121, 121, 0.568);
$color-4: rgb(224, 183, 46);
$color-5: rgb(196, 196, 196);
$color-6: grey;
$borderR-size: 30px;
@mixin transition {
  transition: 0.4s ease-in-out;
}
@mixin flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@mixin boxShadow {
  box-shadow: 1px 1px 5px $color-3;
}
body {
  margin: 0;
  background-color: $color-2;
  caret-color: transparent;
  min-width: $min-width;
  font-family: "Kodchasan", sans-serif;
  a,
  a:visited,
  a:active {
    color: black;
    text-decoration: none;
  }
  input {
    border: 1px solid black;
  }
  input:focus {
    caret-color: black !important;
  }
  input {
    width: 250px;
    height: 30px;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 5px;
    @media (min-width: $break-point-1) {
      width: 600px;
    }
  }
  button {
    border-radius: 5px;
    width: 250px;
    height: 40px;
    color: white;
    font-weight: bold;
    background-color: $color-6;
    @media (min-width: $break-point-1) {
      width: 612px;
    }
  }
  .red_btn {
    background-color: $color-1 !important;
  }
  .red_color {
    color: $color-1 !important;
  }
  .yellow_color {
    color: $color-4 !important;
  }
}
header {
  min-width: $min-width;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
  @media (min-width: $break-point-1) {
    @include boxShadow;
  }
}
#header {
  background-color: $color-1;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  padding: 10px;
  #burger_menu {
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media (min-width: $break-point-1) {
      display: none;
    }
    div {
      width: 40px;
      margin-top: 6px;
      height: 5px;
      border-radius: 5px;
      background-color: white;
    }
  }
  #logo {
    display: flex;
    margin-left: 10px;
    #couverts {
      margin-top: 10px;
    }
    h1 {
      margin: 0 0 0 10px;
      font-size: 250%;
      color: white;
      width: 100%;
      padding-left: 10px;
      text-align: start;
    }
  }
}
#Navigation {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: $color-3;
  width: 100%;
  @media (min-width: $break-point-1) {
    flex-direction: row;
    justify-content: flex-end;
    background-color: white;
  }
  a {
    background-color: white;
    padding: 15px 25px 15px 20px;
    margin: 5px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 40%;
    @media (min-width: $break-point-1) {
      width: auto;
    }
    @media (min-width: $break-point-3) {
      margin: 5px 15px 5px 15px;
    }
  }
}
.page {
  margin-top: 80px;
  @include flex-center;
  @media (min-width: $break-point-1) {
    margin-top: 140px;
  }
  .displayNav {
    display: none;
    @media (min-width: $break-point-1) {
      display: block;
    }
  }
}
#acceuil {
  display: flex;
  flex-direction: column;
  align-items: center;
  #indicResults {
    padding-right: 20px;
    position: relative;
    top: 60px;
    left: 20px;
    @media (min-width: $break-point-1) {
      top: 20px;
    }
  }
  #recherche-container {
    display: flex;
    background-color: $color-2;
    width: 100%;
    position: fixed;
    top: 57px;
    z-index: 1;
    @media (min-width: $break-point-1) {
      box-shadow: none;
      background-color: transparent;
      width: 40%;
      left: 0;
      z-index: 2;
    }
    #recherche {
      margin: 20px 0 10px 20px;
      padding-left: 10px;
      width: 70%;
      height: 32px;
      border: 1px solid black;
      border-radius: 5px;
      background-color: $color-2;
      @media (min-width: $break-point-1) {
        width: 100%;
      }
    }
    i {
      position: relative;
      right: 25px;
      top: 30px;
      cursor: pointer;
    }
  }
  #recette_container {
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    .recette {
      @include boxShadow;
      background-color: white;
      border-radius: $borderR-size;
      margin: 10px 0 30px 0;
      min-width: 250px;
      max-width: 700px;
      img {
        border-top-left-radius: $borderR-size;
        border-top-right-radius: $borderR-size;
        width: 100%;
        cursor: pointer;
        @include transition;
        &:hover {
          opacity: 0.7;
        }
      }
      .recette_text {
        padding: 5px 15px 5px 15px;
        h3 {
          font-size: 110%;
          margin: 0;
        }
        #titre_coeur_container {
          display: flex;
          justify-content: space-between;
          #coeur {
            position: relative;
            font-size: 200%;
            color: $color-5;
            cursor: pointer;
          }
        }
        #stars {
          i {
            position: relative;
            bottom: 10px;
            font-size: 110%;
            margin: 2px;
            color: $color-5;
          }
        }
      }
    }
  }
}
#mes_recettes {
  width: 90%;
  @include flex-center;
  #createRecette {
    display: flex;
    flex-direction: column;
  }
}
