$break-point-1: 750px;
$break-point-3: 1350px;
$color-1: rgba(255, 202, 15, 1);
$color-2: rgba(234, 240, 240, 0.9);
$color-3: rgba(124, 121, 121, 0.568);

body {
  margin: 0;
  background-color: $color-2;
  caret-color: transparent;
  min-width: 300px;
  a,
  a:visited,
  a:active {
    color: black;
    text-decoration: none;
  }
  input {
    border: 1px solid black;
  }
  input:focus {
    caret-color: black !important;
  }
}
header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}
#logo {
  background-color: $color-1;
  display: flex;
  cursor: pointer;
  padding: 10px;
  #burger_menu {
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    @media (min-width: $break-point-1) {
      display: none;
    }
    div {
      width: 40px;
      margin-top: 6px;
      height: 5px;
      border-radius: 5px;
      background-color: white;
    }
  }
  h1 {
    margin: 0;
    font-size: 250%;
    font-weight: lighter;
    color: white;
    width: 100%;
    text-align: center;
  }
}
#Navigation {
  display: flex;
  flex-direction: column;
  background-color: $color-3;
  width: 50%;
  @media (min-width: $break-point-1) {
    flex-direction: row;
    background-color: white;
    width: 100%;
  }
  a {
    background-color: white;
    padding: 15px 10px 15px 10px;
    margin: 5px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}
.page {
  margin-top: 80px;
  @media (min-width: $break-point-1) {
    margin-top: 140px;
  }
  .displayNav {
    display: none;
    @media (min-width: $break-point-1) {
      display: block;
    }
  }
}
#acceuil {
  display: flex;
  flex-direction: column;
  align-items: center;
  #indicResults {
    padding-right: 20px;
    position: relative;
    top: 40px;
    left: 20px;
  }
  #recherche-container {
    background-color: white;
    width: 100%;
    position: fixed;
    top: 60px;
    z-index: 0;
    @media (min-width: $break-point-1) {
      top: 57px;
      left: 250px;
      z-index: 1;
      background-color: transparent;
    }
    #recherche {
      margin: 20px 0 10px 20px;
      padding-left: 10px;
      width: 70%;
      height: 32px;
      border: 1px solid black;
      border-radius: 5px;
      @media (min-width: $break-point-1) {
        width: 50%;
      }
    }
    i {
      position: relative;
      left: 10px;
      cursor: pointer;
    }
  }
  #recette_container {
    padding-top: 70px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    @media (min-width: $break-point-1) {
      width: 70%;
      padding-top: 30px;
    }
    @media (min-width: $break-point-3) {
      background-color: white;
    }
    .recette {
      background-color: white;
      border-radius: 20px;
      box-shadow: 1px 1px 5px grey;
      margin: 10px 0 30px 0;
      min-width: 250px;
      max-width: 700px;
      img {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        width: 100%;
      }
      .recette_text {
        padding: 10px;
        h3 {
          margin: 0;
        }
      }
    }
  }
}
#createRecette {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  input {
    margin: 10px;
    padding: 5px;
    width: 300px;
    height: 30px;
  }
}
